* {
    box-sizing: border-box;
}

body {
    min-width: 200px;
    max-width: 902px;
    margin: 0 auto;
    padding: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #2E2E2E;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

header {
    font-size: larger;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid #777;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 45px;
}

header :nth-child(1) {
    margin-top: 0px;
}

header :nth-last-child(1) {
    margin-bottom: 0px;
}

header h1, h2 {
    padding-bottom: 0px;
    border-bottom: 0px;
}

main {
    margin-top : 45px;
    margin-bottom: 45px;
}

footer h1, h2 {
    padding-bottom: 0px;
    border-bottom: 0px;
}

footer {
    font-size: smaller;
    font-weight: 300;
    text-align: center;
    border-top: 1px solid #777;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: 45px;
}

footer :nth-child(1) {
    margin-top: 0px;
}

footer :nth-last-child(1) {
    margin-bottom: 0px;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    margin: 0.67em 0;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eee;
}

h3 {
    font-size: 1.25em;
    font-weight: 600;
}

h4 {
    font-size: 1em;
    font-weight: 600;
}

h5 {
    font-size: 0.875em;
    font-weight: 600;
}

h6 {
    font-size: 0.85em;
    font-weight: 600;
    color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #4078c0;
    text-decoration: none;
}

a:visited {
    color: #7070B2;
}

a.headerlink {
    color: #4078c0;
    font-size: smaller;
    font-weight: 300;
    opacity: 0;
    /*margin-left: 0.3em;*/
}

a.headerlink:visited {
    color: #7070B2;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink {
    opacity: 1;
}

a.headerlink:focus {
    opacity: 1;
}

a.toclink {
    color: #2E2E2E;
    text-decoration: none;
}

h1:hover > a.toclink,
h2:hover > a.toclink,
h3:hover > a.toclink,
h4:hover > a.toclink,
h5:hover > a.toclink,
h6:hover > a.toclink {
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
    text-decoration: underline;
}

a:not([href]) {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 600;
}

img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0em 0em 1em;
    display: block;
    width: 100%;
}

figcaption {
    font-size: smaller;
    margin-bottom: 0.5em;
}

caption {
    font-size: smaller;
    text-align: left;
    margin-bottom: 0.5em;
}

figure > p, figcaption > p, caption > p {
    margin-bottom: 0em;
}

hr {
    box-sizing: content-box;
    overflow: hidden;
    height: 0.25em;
    padding: 0;
    margin: 1.5em 0;
    background: transparent;
    background-color: #e7e7e7;
    border: 0;
    border-bottom: 1px solid #eee;
}

hr::before {
    display: table;
    content: "";
}

hr::after {
    display: table;
    clear: both;
    content: "";
}
input {
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}

blockquote>:first-child {
    margin-top: 0;
}

blockquote>:last-child {
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
    list-style-type: lower-alpha;
}

dd {
    margin-left: 0;
}

code,
kbd,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1.176em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    word-wrap: normal;
}

kbd {
    display: inline-block;
    padding: 0.273em 0.455em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.688em;
    line-height: 0.91em;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

code::before,
code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

pre {
    padding: 1.176em;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    margin-bottom: 1.176em;
}

pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

pre code::before,
pre code::after {
    content: normal;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin-top: 0;
    margin-bottom: 1em;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

li>p {
    margin-top: 1em;
}

li+li {
    margin-top: 0.25em;
}

dl {
    padding: 0;
}

dl dt {
    padding: 0;
    margin-top: 1em;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

dl dd {
    padding: 0 1em;
    margin-bottom: 1em;
}

td,
th {
    padding: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: 100%;
    overflow: auto;
}

table th {
    font-weight: bold;
}

table th,
table td {
    padding: 0.375em 0.8125em;
    border: 1px solid #ddd;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

iframe {
    max-width: 100%;
    box-sizing: content-box;
}

.footnote hr {
    width: 30%;
    margin-top: 2.1em;
    margin-bottom: 0px;
}

.footnote ol {
    font-size: smaller;
}

.footnote-backref {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

:checked+.radio-label {
    position: relative;
    z-index: 1;
    border-color: #4078c0;
}

.task-list-item {
    list-style-type: none;
}

.task-list-item+.task-list-item {
    margin-top: 0.1875em;
}

.task-list-item input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

.pagelisting li p a {
    font-weight: 600;
}

.breadcrumb {
    font-size: smaller;
    padding-bottom: 10px;
}

.breadcrumb span {
    margin: 0 0.3em;
}

.breadcrumb a {
    font-weight: 600;
}

/* Pygments */

table.highlighttable {
    display: block;
    width: 100%;
    border: 0px;
    margin-bottom: 1em;
}

table.highlighttable tr {
    border-top: 0px;
}

.code .highlight pre {
    margin-bottom: 0em;
}

.linenodiv pre {
    padding: 1.176em 0em;
    margin-bottom: 0em;
}

td.linenos {
    color: #6a737d;
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

span.linenos .normal {
    color: inherit;
    background-color: transparent;
    padding: 0px;
}

td.linenos .special {
    color: #2e2e2e;
    padding: 0px;
}

span.linenos .special {
    color: #2e2e2e;
    padding: 0px;
}

td.code {
    color: inherit;
    background-color: transparent;
    padding: 0px;
    border: 0px;
    width: 100%;
}

.hll { background-color: #ffffcc }
.c { color: #6a737d } /* Comment */
.err {  } /* Error */
.k { color: #d73a49 } /* Keyword */
.o { } /* Operator */
.ch { color: #6a737d } /* Comment.Hashbang */
.cm { color: #6a737d } /* Comment.Multiline */
.cp { color: #d73a49 } /* Comment.Preproc */
.cpf { color: #032f62 } /* Comment.PreprocFile */
.c1 { color: #6a737d } /* Comment.Single */
.cs { color: #6a737d } /* Comment.Special */
.gd { color: #b31d28; background-color: #ffeef0 } /* Generic.Deleted */
.ge {  } /* Generic.Emph */
.gr {  } /* Generic.Error */
.gh { color: #005cc5 } /* Generic.Heading */
.gi { color: #22863a; background-color: #f0fff4 } /* Generic.Inserted */
.go {  } /* Generic.Output */
.gp {  } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #6f42c1; font-weight: bold } /* Generic.Subheading */
.gt { color: #005cc5 } /* Generic.Traceback */
.kc { color: #005cc5 } /* Keyword.Constant */
.kd { color: #d73a49 } /* Keyword.Declaration */
.kn { color: #d73a49 } /* Keyword.Namespace */
.kp { color: #d73a49 } /* Keyword.Pseudo */
.kr { color: #d73a49 } /* Keyword.Reserved */
.kt { color: #d73a49 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #032f62 } /* Literal.String */
.na { color: #005cc5} /* Name.Attribute */
.nb { color: #005cc5 } /* Name.Builtin */
.nc { color: #e36209 } /* Name.Class */
.no { color: #005cc5 } /* Name.Constant */
.nd { color: #6f42c1 } /* Name.Decorator */
.ni { color: #005cc5 } /* Name.Entity */
.ne { color: #e36209 } /* Name.Exception */
.nf { color: #6f42c1 } /* Name.Function */
.nl { color: #005cc5 } /* Name.Label */
.nn { } /* Name.Namespace */
.nt { color: #22863a } /* Name.Tag */
.nv { } /* Name.Variable */
.ow { color: #d73a49; } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #005cc5 } /* Literal.Number.Bin */
.mf { color: #005cc5 } /* Literal.Number.Float */
.mh { color: #005cc5 } /* Literal.Number.Hex */
.mi { color: #005cc5 } /* Literal.Number.Integer */
.mo { color: #005cc5 } /* Literal.Number.Oct */
.sa { color: #032f62 } /* Literal.String.Affix */
.sb { color: #032f62 } /* Literal.String.Backtick */
.sc { color: #032f62 } /* Literal.String.Char */
.dl { color: #d73a49 } /* Literal.String.Delimiter */
.sd { color: #032f62 } /* Literal.String.Doc */
.s2 { color: #032f62 } /* Literal.String.Double */
.se { color: #005cc5 } /* Literal.String.Escape */
.sh { color: #032f62 } /* Literal.String.Heredoc */
.si { color: #005cc5 } /* Literal.String.Interpol */
.sx { color: #032f62 } /* Literal.String.Other */
.sr { color: #032f62 } /* Literal.String.Regex */
.s1 { color: #032f62 } /* Literal.String.Single */
.ss { color: #005cc5 } /* Literal.String.Symbol */
.bp { color: #005cc5 } /* Name.Builtin.Pseudo */
.fm { color: #005cc5 } /* Name.Function.Magic */
.vc { } /* Name.Variable.Class */
.vg { } /* Name.Variable.Global */
.vi { } /* Name.Variable.Instance */
.vm { color: #005cc5 } /* Name.Variable.Magic */
.il { color: #005cc5 } /* Literal.Number.Integer.Long */
