/* Created with [Stuff Pages](http://stuff.fladd.de/stuffpages). Design based on [Solarized CSS](http://thomasf.github.io/solarized-css/) by [Thomas Froessman](http://thomas.jossystem.se/).*/
@import url("http://thomasf.github.io/solarized-css/solarized-dark.min.css");
@import url("https://gist.githubusercontent.com/qguv/7936275/raw/36691eeebfc6b708cae1ea4227e147a5a0ef5afe/solarized-dark.css");

body {
  padding-top: 0;
}

img {
  vertical-align: bottom;
}

.footnote {
  margin-top: 3em;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid;
    margin: 1em 0; padding: 0;
    border-color: inherit;
}

header {
  text-align: center;
  padding-bottom: 2em;
  border-bottom: solid 1px;
}

header h1 {
  color: #268bd2;
  font-size: 3.4em;
}

header h2, header h3, header h4, header h5 {
  color: #6c71c4
}

header p {
  color: #;
  font-size: 1.2em;
}

footer {
  margin-top: 3em;
  border-top: solid 1px;
}

.theme-credits {
  color: #819198;
}